*{

}

body{ 
	justify-content: center;
	text-align:center;
	background-color: #F3FCFA;
}

.header{
	color: #F3FCFA;
	background-color: #BB000E;
	padding: 10px;
}

.container{
	color:#F3FCFA ;
	background-color: #BB000E;
	margin-left: 150px;
	margin-right: 120px;
	margin-top: 120px;
	margin-bottom: 120px;
	padding: 50px;
	border-radius: 15px;
}

.footer{ 
	background-color: #BB000E;
	padding: 20px;
	margin-top: 250px;
}
